@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>El uso de este programa sin consentimiento explícito de sus desarrolladores es ilegal, abstengase de ser demandado.</p>
