@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>
<img src="img/Privacy.png" alt="Privacy"><br>
<p>El uso de este programa sin consentimiento explícito de sus desarrolladores es ilegal, absténgase de ser demandado.</p>
