@page
@model Minuta.App.Frontend.Pages.DeleteModel
@{
}
<h1>Eliminar Vehículo: @Model.Vehiculo.placa</h1>
<form method="post">
    <input type="hidden" asp-for = "Vehiculo.id"/>
    <p>¿Estás seguro de eliminar el Vehículo?</p><br>
    @* <input asp-for="Vehiculo.id" class="form-control"> *@
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>