@page
@model Minuta.App.Frontend.Pages.EditModel
@{
}
<h1>Edición del Vehículo: @Model.Vehiculo.placa</h1>
<form method="post">
    <input type="hidden" asp-for = "Vehiculo.id"/>
    <div class="form-group">
        <label asp-for="Vehiculo.placa">PLACA</label><br>
        <input asp-for="Vehiculo.placa" class="col-xs-5" placeholder=".col-xs-5"><br>
    </div>
    <div class="form-group">
        <label asp-for="Vehiculo.tipoVehiculo">TIPO DE VEHÍCULO</label><br>
        <input asp-for="Vehiculo.tipoVehiculo" class="col-xs-5"><br>
    </div><br>
    <button type="submit" class="btn btn-primary">Grabar</button>
</form><br>
<a asp-page="./List" class="btn-default"> Lista de Vehículos</a>