@page
@model Minuta.App.Frontend.Pages.EditModel2
@{
}
<h1>Edición del Registro de la Minuta Visitante: @Model.MinutaVisitante.id</h1>
<form method="post">
    <input type="hidden" asp-for = "MinutaVisitante.id"/>
    <div class="form-group">
        <label asp-for="MinutaVisitante.fecha">FECHA DE INGRESO</label>
        <input asp-for="MinutaVisitante.fecha" class="form-control" readonly="readonly">
    </div>
    <div class="form-group">
        <label asp-for="MinutaVisitante.hora">HORA DE INGRESO</label>
        <input asp-for="MinutaVisitante.hora" class="form-control" readonly="readonly">
    </div>
    <div class="form-group">
        <label asp-for="MinutaVisitante.asunto">ASUNTO</label>
        <input asp-for="MinutaVisitante.asunto" class="form-control">
    </div>
    <label for="">VISITANTE</label><br>
    <!--<p>VISITANTE</p>-->
        <select asp-for="cedulaVisitante">
            @foreach (var visitante in @Model.Visitantes)
            {
                @if(visitante.cedula == Model.MinutaVisitante.visitante.cedula)
                {
                    <option selected="selected">@visitante.cedula</option>
                }
                else
                {
                    <option>@visitante.cedula</option>
                }
            }
        </select>
    <div class="form-group">
        <label asp-for="MinutaVisitante.fechaSalidaVis">FECHA DE SALIDA</label>
        <input asp-for="MinutaVisitante.fechaSalidaVis" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="MinutaVisitante.horaSalidaVis">HORA DE SALIDA</label>
        <input asp-for="MinutaVisitante.horaSalidaVis" class="form-control">
    </div><br>
    <button type="submit" class="btn btn-primary">Grabar</button>
</form><br>
<a asp-page="./List" class="btn-default">Minuta Visitante</a>